<%= erb :'layouts/_header' %>

<h1>New Pigeon</h1>

<form action='/pigeons' method='post'>
  <ul>
    <li>Pigeon name: <input type="text" name="pigeons[name]"></li>
    <li>Pigeon color: <input type="text" name="pigeons[color]"></li>
    <li>Pigeon gender: <input type="text" name="pigeons[gender]"></li>
    <li>Pigeon lives: <input type="text" name="pigeons[lives]"></li>
  </ul>  

  <input type="submit">
</form> 

<a class="button" href="/pigeons">Cancel</a>

<%= erb :'layouts/_footer' %>